@{
    ViewData["Title"] = "AutoSearch";
}

<div class="text-right">
    <h1 class="display-5">If you want to buy a car</h1>
    <p>Find <a href="https://www.autotrader.ca">the most useful link </a>.</p>
    
</div>