@{
    ViewData["Title"] = "AutoSearch";
}

<div class="text-right">
    <h1 class="display-5">If you want to buy a car</h1>
    <p>Find out <a href="https://www.theweathernetwork.com/ca/weather/ontario/toronto">The current information about weather</a>.</p>
</div>