@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Canada</h1>
    <p>Find out <a href="https://www.theweathernetwork.com/ca/weather/ontario/toronto">The current information about weather</a>.</p>
</div>
